#images-container {
    position: relative;
}
#small-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
}

.button-top-left {
  border-top-left-radius: 100%;
  background: red;
}

.styledButton {
    color: #fff;
    background-color: #a0e20a !important;
    border-color: #a0e20a !important;
    font-size: 30px !important;
    width: 4.5rem !important;
    padding: 15px !important;
    border-radius: 50% !important;
}

.styledButton:hover {
    color: #fff;
    background-color: #a0e20a !important;
    border-color: #a0e20a !important;
}


body{
    /* background-image: url("background.jpg") !important;
     */
     background: black;
}