#images-container {
    position: relative;
}
#small-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
}

.button-top-left {
  border-top-left-radius: 100%;
  background: red;
}
